version: 1.0.{build}

environment:
  PYTHON: "C:\\Python38-x64"
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      compiler: mingw32
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      compiler: mingw-w64
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      compiler: vs2015
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      compiler: vs2017
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      compiler: vs2019

init:
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

install:
  - git submodule update --init --recursive
  - git clone https://github.com/mfontanini/winpcap-installer.git
  - cd winpcap-installer
  - winpcap-boundary-meter-4.1.3.exe /S
  - cd ..
  - appveyor DownloadFile http://www.winpcap.org/install/bin/WpdPack_4_1_2.zip
  - 7z x .\WpdPack_4_1_2.zip -oc:\
  - if "%compiler%"=="mingw32" set PATH=%PATH%;C:\MinGW\bin&& appveyor DownloadFile http://ftp.ntua.gr/mirror/mingw/MinGW/Base/pthreads-w32/pthreads-w32-2.10-pre-20160821-1/pthreads-GC-w32-2.10-mingw32-pre-20160821-1-dev.tar.xz && 7z e pthreads-GC-w32-2.10-mingw32-pre-20160821-1-dev.tar.xz -oC:\pthreads && 7z x C:\pthreads\pthreads-GC-w32-2.10-mingw32-pre-20160821-1-dev.tar -oC:\pthreads && xcopy /Y C:\pthreads\include\* C:\MinGW\include && xcopy /Y C:\pthreads\lib\* C:\MinGW\lib
  - if "%compiler%"=="mingw-w64" set PATH=%PATH%;C:\mingw-w64\i686-8.1.0-posix-dwarf-rt_v6-rev0\mingw32\bin
  - if "%compiler:~0,4%"=="vs20" powershell -command "Invoke-WebRequest ftp://sourceware.org/pub/pthreads-win32/pthreads-w32-2-9-1-release.zip -OutFile pthreads-w32-2-9-1-release.zip" && 7z x pthreads-w32-2-9-1-release.zip -oC:\pthreads
  - "python -m pip install --upgrade pip"
  - if "%compiler%"=="mingw32" python C:\projects\pcapplusplus-deploy\mingw32\patch_mingw.py

before_build:
  - cd C:\projects
  - git clone https://github.com/seladb/PcapPlusPlus.git
  - cd C:\projects\PcapPlusPlus
  - if "%compiler%"=="mingw32" configure-windows-mingw.bat mingw32 -m C:\MinGW -w C:\WpdPack
  - if "%compiler%"=="mingw-w64" configure-windows-mingw.bat mingw-w64 -m C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1 -w C:\WpdPack -s C:\msys64\mingw32

build_script:
  - if "%compiler%"=="mingw32" mingw32-make all
  - if "%compiler%"=="mingw-w64" mingw32-make all
  - if "%compiler:~0,4%"=="vs20" C:\projects\pcapplusplus-deploy\vs\build-and-copy.bat 

test_script:
  - if not "%compiler:~0,4%"=="vs20" cd C:\projects\PcapPlusPlus\Tests\Packet++Test
  - if not "%compiler:~0,4%"=="vs20" Bin\Packet++Test.exe
  - if not "%compiler:~0,4%"=="vs20" cd ..\Pcap++Test
  - if not "%compiler:~0,4%"=="vs20" Bin\Pcap++Test.exe -n

after_test:
  - cd C:\projects\PcapPlusPlus
  - if "%compiler%"=="mingw32" C:\projects\pcapplusplus-deploy\mingw\deploy-mingw.bat
  - if "%compiler%"=="mingw-w64" C:\projects\pcapplusplus-deploy\mingw\deploy-mingw.bat

artifacts:
  - path: vs-package
    name: VS-Package
  - path: mingw-package
    name: MinGW-Package